.form-container {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-top: 10px;
    gap: 20px;
}
.customization-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.icon-input {
  display: flex;
  /* flex: 1; */
  background-color: gray;
  justify-content: center;
  width: 30px;
  border-radius: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.color-input {
  display: flex;
  flex: 1;
  border-radius: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.bottom-buttons {
  display: flex;
  justify-content: flex-end;
}