.container {
    display: flex;
    flex: 1;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
.form-container {
    display: flex;
    width: 500px;
    gap: 20px;
}
.app-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.app-logo {
    max-height: 45px;
    max-width: 45px;
    fill: #3874cb;
}
.app-text {
    color: #3874cb;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 40px;
    padding-bottom: 5px;
}
.bottom-buttons {
    display: flex;
    justify-content: flex-end;
}
.register-text {
    font-family: 'Noto Sans';
    font-size: 15px;
}
button {
    font-family: 'Noto Sans';
    font-weight: bold;
    color: #3874cb;
    background-color: white;
    font-size: 15px;
    border: 0px;
    cursor: pointer;
}